.button
    padding: 10px 20px
    border-radius: 5px
    color: $buttonNextColor
    transition: $transitionDuration
    outline: none
    -webkit-tap-highlight-color: transparent; // delete mark of tap in mobile version

.button__submit
    background-color: $buttonSubmitBGColor
    &:hover
        background-color: $buttonSubmitBgColorHover

.button__reset
    background-color: $buttonResetBGColor
    &:hover
        background-color: $buttonResetBgColorHover