//colors
$buttonStartBGColor: #9ACD32//
$buttonStartBgColorHover: #57A20B//
$buttonTextColor: white//
$buttonStartUnactiveBGColor: gray//
$segmenBGColor1: blue
$segmenBGColor2: red
$segmenBGColor3: green
$segmenBGColor4: yellow

//fonts
$mainFontSize: 16px//

//animation
$transitionDuration: .3s//

//resolutions
$desktop: 1280px
$laptop: 980px
$tablet: 768px
$smartphone: 480px
$phone: 320px