.info, .info__wrapper, .info__form, .info__label
    display: flex

.info
    flex-direction: column
    justify-content: center
    align-items: center
    width: 150px
    @include smartphone
        width: 100%
        order: 1
        margin-bottom: 30px

.info__wrapper
    flex-direction: column
    justify-content: center
    align-items: flex-start
    width: 60%
    @include smartphone
        width: 95%
        flex-direction: row
        justify-content: space-between
        align-items: center
    @include phone
        width: 100%

.info__rounds
    margin-bottom: 40px
    min-width: 100px
    @include smartphone
        margin-bottom: 0

.info__levels_title
    margin-bottom: 20px
    @include smartphone
        margin-bottom: 0
        text-align: right
        width: 25%

.info__form
    flex-direction: column
    position: relative

.info__label
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0

.info__subtitle
    min-width: 85px

.info__blockChoseLevel
    &:after
        content: ""
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: $blockChooseLevel