.info
    display: flex
    justify-content: center
    align-items: center
    width: 20%

.info__wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    width: 60%

.info__rounds
    margin-bottom: 40px

.info__levels_title
    margin-bottom: 20px

.info__form
    display: flex
    flex-direction: column

.info__label
    display: flex
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0

.info__subtitle
    min-width: 85px